<div class="ai-chat-body-wrapper">
<div class="chat-header">AI - Chat Window</div>
<div class="chat-details">
	<img class="ai-profile-image" src="/components/styles/images/google-robot.jpg">
	<div>BOT 2016</div>
	<div>Artificial Intelignce Chat Bot</div>
</div>
<div class="chat-body">
	<div class="ai-chat-bubble">Hello, my name is Boot 2016, how i can help you ?</div>
	<div class="clearfix"></div>
	<div class="ai-chat-bubble">Hello, my name is Boot 2016, how i can help you ?</div>
	<div class="clearfix"></div>
	<div class="user-bubble ">Hows going?</div>
</div>
<div class="clearfix"></div>
<div class="chat-container">
	<input class="form-control message-container"></input>
	<button type="button" class="btn btn-info send-button-wrapper">Send</button>
</div>
</div>