<div class="ai-chat-body-wrapper">
<div class="chat-header">AI - Chat Window</div>
<div class="chat-details">
	<img class="ai-profile-image" src="/components/styles/images/google-robot.jpg">
	<div>BOT 2016</div>
	<div>Artificial Intelignce Chat Bot</div>
</div>
<div class="chat-body" id="conversation">
	<div ng-repeat="message in conversation">
		<div ng-class="message.type === 'user' ? 'user-bubble' : 'ai-chat-bubble'" ng-bind-html="message.content"></div>
		<div class="clearfix"></div>		
	</div>
</div>
<div class="clearfix"></div>
<form ng-submit="sendMessage(userMessage)">
	<div class="chat-container">
	<input class="form-control message-container" ng-model="userMessage">
	<button type="button" ng-click="sendMessage(userMessage)" class="btn btn-info send-button-wrapper">Send</button>
</div>
</form>
</div>
<div class="well well-sm too-much-details" ng-if="showMoreInfo" ng-bind-html="fullInfo"></div>