body {
	background-image: url('/components/styles/images/robot.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#footer-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.ai-chat-body-wrapper {
	text-align: center;
    width: 500px;
    float: left;
    margin-top: 50px;
    margin-left: 85px;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
.chat-header {
    background-color: #4F4F4F;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chat-details {
    height: 60px;
    position: relative;
    text-align: left;
    padding-left: 85px;
    padding-top: 5px;
    padding-right: 85px;
    color: #949494;
    border-bottom: 1px solid #4F4F4F;
}
.ai-profile-image {
	position: absolute;
    left: 10px;
    top: -20px;
	width: 62px;
	height: 62px;
	border: 1px solid black;
}
.chat-body {
	text-align: left;
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    width: 100%;
    background-image: url('/components/styles/images/school.png');
    overflow-y: scroll;
    height: 400px;
}
.ai-chat-bubble 
{
position: relative;
float: left;
margin-bottom: 5px;
max-width: 200px;
padding: 6px;
display: inline-block;
background: #329FD9;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
color: white;
}

.ai-chat-bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 19px 4px 0;
border-color: transparent #329FD9;
width: 0;
z-index: 1;
left: -19px;
top: 11px;
}

.user-bubble 
{
position: relative;
max-width: 200px;
padding: 6px;
float: right;
background: #F6F6F6;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.user-bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 0 4px 25px;
border-color: transparent #F6F6F6;
display: block;
width: 0;
z-index: 1;
right: -25px;
top: 11px;
}
